* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    height: 100vh;
  }
  
  .container img {
    position: absolute;
    width: 420px;
    height: 420px;
  }
  
  .container img:nth-child(1) {
    bottom: 0;
    left: 0;
  }
  
  .container img:nth-child(2) {  
    bottom: 0;
    right: 0;
  }
  
  .section-login {
    width: 480px;
    height: 465px;
    background-color: #E9ECEF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* UI */
    border-radius: 9px;
    box-shadow: 0px 0px 40px 0px rgba(239, 240, 241, 0.70);
  
    padding: 48px 50px 60px 50px;
  }
  
  .section-login h3 {
    color: #181C32;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
  }
  .section-login p {
    color: #B5B5C3;
    text-align: center;
    font-size: 18px;
  
   font-weight: 500;
   line-height: normal;
  }
  #form-login {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  #form-login label {
    color: #181C32;
   font-size: 14px;
   font-weight: 700;
   line-height: normal;
  }
  #form-login input {
    width: 380px;
  height: 54px;
  flex-shrink: 0;
  font-size: 17px;
  padding-left: 4px;
  
  border-radius: 6px;
  background: #F5F8FA;
  outline: none;
  border: none;
  }
  
  #form-login button {
    display: inline-flex;
   padding: 14px 24px;
   align-items: flex-start;
   gap: 10px;
  
   border-radius: 6px;
   background: #00A3FF;
   color: white;
   width: fit-content;
   margin: 0 auto;
   outline: none;
   border: none;
  
   cursor: pointer;
  }
  
  #email {
    margin-bottom: 16px;
  }
  
  #password { 
    margin-bottom: 40px;
  }